# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
.pytest_cache/
logs/

# Node
node_modules/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# ML
*.pth
*.pt
*.onnx
checkpoints/
models/

# Data
*.csv
*.parquet
data/
!data/.gitkeep

# Databases
*.db
*.sqlite
*.sqlite3
*.sql
*.dump
*.bak
*.mdb
*.accdb
*.db-journal
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.db-wal
*.db-shm

# Vector DB
chroma_db/

# Redis
redis/
*.rdb

# Celery
celerybeat-schedule
celerybeat-schedule.db

# Logs
*.log
*.har

# Docs
docs/
**/docs/
*.md
*.markdown
*.mdx
*.rst
*.txt
*.pdf
*.doc
*.docx
*.odt

# OS
.DS_Store
Thumbs.db
